"*.obj" 
"*.exe" 
"*.dll" 
"*.pdb" 
"*.lib" 
"*.so" 
"*.a" 
"*.o" 
"*.d" 
"*.suo" 
"*.user" 
"*.ipch" 
"*.pch" 
"*.log" 
"*.obj" 
"*.idb" 
"*.tlog" 
"*.lastbuildstate" 
"*.sdf" 
"*.opensdf" 
"*.vcxproj" 
"*.vcxproj.filters" 
"*.vcxproj.user" 
"*.vcproj" 
"*.vcproj.*" 
"Debug/" 
"Release/" 
"x64/" 
"bin/" 
"obj/" 
/bin
/.vs/deako

vendor/vulkan
