[submodule "Deako/vendor/spdlog"]
	path = Deako/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Deako/vendor/glm"]
	path = Deako/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Deako/vendor/glfw"]
	path = Deako/vendor/glfw
	url = https://github.com/deak1zm/glfw.git
[submodule "Deako/vendor/imgui"]
	path = Deako/vendor/imgui
	url = https://github.com/deak1zm/imgui.git
[submodule "Deako/vendor/fastgltf"]
	path = Deako/vendor/fastgltf
	url = https://github.com/deak1zm/fastgltf.git
[submodule "Deako/vendor/simdjson"]
	path = Deako/vendor/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "Deako/vendor/gli"]
	path = Deako/vendor/gli
	url = https://github.com/g-truc/gli.git
[submodule "Deako/vendor/yaml-cpp"]
	path = Deako/vendor/yaml-cpp
	url = https://github.com/deak1zm/yaml-cpp.git
[submodule "Deako/vendor/imguizmo"]
	path = Deako/vendor/imguizmo
	url = https://github.com/deak1zm/ImGuizmo
