[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/deakodev/glm.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/deakodev/glfw.git
[submodule "vendors/magic_memory"]
	path = vendors/magic_memory
	url = https://github.com/deakodev/magic_memory.git
[submodule "vendors/cglm"]
	path = vendors/cglm
	url = https://github.com/deakodev/cglm.git
